body{
  padding: 20px;
}
button{
  margin-right: 10px;
}

.title{
  display: flex;
  justify-content: center;
}

.imagen_card{
  max-width: 50%;
  height: min-content;
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
